* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}
.main {
    width: 100vh;
}
.registration-form {
    margin: auto;
    padding: 15px;
    width: 450px;
    height: 750px;
    background: #e3efed;
}
.form-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.56;
    color: #69777a;
}
.form-info {
    padding-right: 40px;
    border-bottom: 1px solid #d3d3d3;
}
.title {
    font-weight: 400;
    font-size: 1.3 rem;
    line-height: 1.6;
    color: #9ca8b1;
}
.username {
    margin-top: 30px;
    padding-bottom: 10px;
}
.username,
.email-address,
.password,
.confirm-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.username-input,
.email-address-input,
.password-input,
.confirm-password-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 30px;
}
.username-input::placeholder,
.email-address::placeholder,
.password::placeholder,
.confirm-password::placeholder {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2;
    color: #9ca8b1;
}
/* .username-icon {
    width: 10px;
    height: 10px;
    color: #d1d1d1;
    background: #fff;
} */
.user-info {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.first-name__title,
.last-name__title,
.gender-select__title,
.select-file,
.desc-title {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2;
    color: #9ca8b1;
}
.firstname,
.lastname {
    width: 190px;
    height: 30px;
}
.firstname::placeholder,
.lastname::placeholder {
    padding: 12px 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2;
    color: #9ca8b1;
}
.gender-select__title {
    margin-top: 10px;
}
.gender-select {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.agree-checkbox label,
.want-checkbox {
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.56;
    color: #69777a;
}
.btn-submit {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    min-width: 108px;
    height: 46px;
    line-height: 46px;
    color: #fff;
    background: #54b5e0;
    border: none;
    margin-left: auto;
}
